  #sidebar-box {
	--uc-sidebar-width: 33px;
	--uc-sidebar-hover-width: 250px;
	--uc-autohide-sidebar-delay: 200ms;
	/* Wait 0.6s before hiding sidebar */
	position: relative;
	min-width: var(--uc-sidebar-width) !important;
	width: var(--uc-sidebar-width) !important;
	max-width: var(--uc-sidebar-width) !important;
	z-index: 10;
}

#sidebar {
	transition: min-width 250ms linear var(--uc-autohide-sidebar-delay) !important;
	min-width: var(--uc-sidebar-width) !important;
	will-change: min-width;
}

#sidebar-box:hover>#sidebar-header,
#sidebar-box:hover>#sidebar {
	min-width: var(--uc-sidebar-hover-width) !important;
	transition-delay: 0ms !important;
}
